*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  background-color: hsl(0deg 0% 6%);
}

main {
  width: 80ch;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  --border-width: 6px;
  --alpha: 0.15;
  --bg: hsl(0deg 0% 10%);
  width: 200px;
  aspect-ratio: 4 / 3;
  color: hsl(0deg 0% 100%);
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}

.card::before {
  --alpha: 0.7;
  content: "";
  position: absolute;
  inset: 0;
  mask: linear-gradient(#fff, #fff) 0 0 / 100% var(--border-width),
    linear-gradient(#fff, #fff) 100% 0 / var(--border-width) 100%,
    linear-gradient(#fff, #fff) 0 100% / 100% var(--border-width),
    linear-gradient(#fff, #fff) 0 0 / var(--border-width) 100%;
  mask-repeat: no-repeat;
}

.card,
.card::before {
  background: radial-gradient(
      circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
      hsl(0deg 0% 100% / var(--alpha)),
      transparent 150px
    ),
    var(--bg);
  background-attachment: fixed;
}

.card span {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
